/* ==========================================================================
                        STYLES FOR THE SEARCH FUNCTION
   ========================================================================== */
@font-face {
    font-family: mainFont;
    src: url("../fonts/CrimsonText-Regular.ttf");
}

@font-face {
    font-family: headerFont;
    src: url("../fonts/MarcellusSC-Regular.ttf");
}

/* Search Bar Stuff */
.searchWrapper {
    width: 450px;
    height: 40px;
    background-color: #D3D3D3;
    position: relative;
    border-radius: 25px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    cursor: pointer;

}

#searchIcon {
    position: relative;
    width: 30px;
    height: auto;
    margin-left: 10px;
    margin-top: 5px;
}

.searchBar, .searchBarAfter {
    width: 100%;
    margin-left: 20px;
    margin-top: 3px;
    font-size: 25px;
    font-family: mainfont;
}

.searchResults {
    margin-top: 40px;
    width: 100%;
}

.bookResults {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    gap: 40px;
}

.specificResult {
    width: 100%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.bookCoverArt {
    width: 80px;
    height: auto;
}

.bookDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
    gap: 8px;
    height: auto;
}

.bookTitle {
    font-family: headerFont;
    font-size: 30px;
}

.bookAuthor {
    font-family: mainFont;
    font-size: 20px;
}

.availWrapper {
    font-family: mainFont;
    font-size: 20px;
}

.availStatus {
    color: #008915;
}

#notAvail {
    color: red;
}

.keyboardImg {
    position: sticky;
    bottom: -30px;
    z-index: 999;
    width: 100%;
    cursor: pointer;
}

.keyboardImg img {
    width: 100%;
    height: auto;
}