/* ==========================================================================
                                GLOBAL STYLES
   ========================================================================== */

/* Main colour scheme */
/* background: linear-gradient(90deg, rgba(0, 106, 132, 0.50) 37.98%, rgba(0, 161, 182, 0.50) 74.52%), #007793; */

/* Text colour: D9D9D9 */

/* Dark Gray Colour: D3D3D3 */

/* Background Colour: FFFAFA */

/* Fonts */

@font-face {
    font-family: mainFont;
    src: url("../fonts/CrimsonText-Regular.ttf");
}

@font-face {
    font-family: headerFont;
    src: url("../fonts/MarcellusSC-Regular.ttf");
}

@font-face {
    font-family: navBarFont;
    src: url("../fonts/CrimsonText-Bold.ttf");
}

:root {
    --kiosk-gradient: linear-gradient(90deg,
            var(--grad-dark) 38%,
            var(--grad-light) 75%), var(--grad-base);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    font-family: mainFont;
}


/* Styles for the global sandbox */
.kioskBorder {
    background: linear-gradient(90deg,
            #006A84 38%,
            #00A1B6 75%,
            #007793 100%);
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
}

.kioskWrapper {
    width: 430px;
    height: 650px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

/* Styles for navbar and buttons */
.navBar {
    width: 430px;
    height: 90px;
    color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(90deg, rgba(0, 106, 132, 0.50) 37.98%, rgba(0, 161, 182, 0.50) 74.52%), #007793;
    font-family: navBarFont;
    z-index: 99999;
}

.navItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 67px;
    gap: 4px;
    margin-top: 20px;
    padding: 8px;
}

.navIcon {
    width: 38px;
    height: 38px;
    aspect-ratio: 1/1;
}

.navLabel {
    height: 40px;
    align-self: stretch;
    color: #D9D9D9;
    text-align: center;
    font-family: navBarFont;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
}

.navItem.hidden {
    display: none;
}


/* Scroll Bar Styles */

.mainCont::-webkit-scrollbar {
    width: 10px;
}


.mainCont::-webkit-scrollbar-track {
    background: #e0e0e0;
}


.mainCont::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, rgba(0, 106, 132, 0.50) 37.98%, rgba(0, 161, 182, 0.50) 74.52%), #007793;
    border-radius: 20px;
    border: 2px solid #D3D3D3;
}




/* ==========================================================================
                        EYE CATCHER STYLES
   ========================================================================== */

#eyeCatcherPage.active {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../images/eyeCatcher.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

#eyeCatcherPage {
    display: none;
    width: 100%;
    height: 100%;
}

.eyeCatcherHelpBtn {
    cursor: pointer;
    z-index: 10;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    bottom: 21px;
    left: 42px
}


.eyeCatcherStartBtn {
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
}

/* ==========================================================================
                        MAIN CONTAINER STYLES
   ========================================================================== */
.mainCont {
    width: 100%;
    height: calc(650px - 90px);
    overflow-y: auto;
    background: #FFFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}


/* ==========================================================================
                        MAIN PAGE STYLES & SEARCH BAR
   ========================================================================== */


#mainPage {
    display: none;
}

#mainPage.active {
    display: block;
}


.searchBarCont {
    width: 334px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #D3D3D3;
    display: flex;
    align-items: center;
    margin-top: 24px;
    cursor: pointer;
    margin-left: 42.75px;
}

.searchIcon {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    margin-left: 10px;
}

.searchBarText {
    margin-left: 15px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bookGenresCont {
    margin-top: 20px;
}

.genreAndTitleCont {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.genreAndTitleCont h1 {
    color: #000;
    font-family: headerFont;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
    text-align: left;
    width: 100%;
    padding-left: 30px;
}

.bookGenre {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;
    padding-bottom: 30px;
}

.leftRightIcons {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.bookMainPage {
    width: 77px;
    height: 116px;
    flex-shrink: 0;
    aspect-ratio: 77/116;
    cursor: pointer;
}


/* ==========================================================================
                    SEARCH PAGE STYLES
   ========================================================================== */
#searchPage {
    display: none;
}

#searchPage.active {
    display: block;
    width: 100%;
}

.searchResults {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.bookResults {
    margin-left: 53.75px;
    margin-top: 22px;
}

.specificResult {
    display: flex;
    padding-bottom: 17px;
    gap: 15px;
}

.bookCoverArt {
    width: 45px;
    height: 68px;
    flex-shrink: 0;
    aspect-ratio: 45/68;
}

.bookDetails {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.bookTitle {
    /* width: 182px; */
    height: 19px;
    flex-shrink: 0;
    color: #000;
    font-family: headerFont;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bookAuthor {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.availWrapper {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.availStatus {
    color: #008915;
}

.availStatusUnavail{
    color: red;
}

#keyboardContainer {
    position: absolute;
    bottom: 110px;
    z-index: 99999999;
    width: 430px;
    height: 240px;
    display: none;
    cursor: pointer;
}

#keyboardContainer img {
    width: 100%;
    height: 100%;
}


/* ==========================================================================
                    RESULTS PAGE STYLES
   ========================================================================== */

#resultsPage {
    display: none;
}

#resultsPage.active {
    display: block;
    width: 100%;
}

.topResultsInfo {
    display: flex;
    margin-top: 26px;
}

.resultsText {
    width: 284px;
    height: 37px;
    flex-shrink: 0;
    margin-left: 30px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.filterButtonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 84px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 3px solid var(--kiosk-gradient, #007793);
    background: rgba(255, 255, 255, 0.00);
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    color: var(--kiosk-gradient, #007793);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.bookResultsResult {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 29px;
    gap: 29px;
}

.specificResultResult {
    display: flex;
    gap: 59px;
    height: 120px;
    flex-shrink: 0;
    background: #EEEAEA;
    cursor: pointer;
}

.bookCoverArtResult {
    margin-left: 29px;
    width: 80px;
    height: 120px;
    flex-shrink: 0;
}

.bookDetailsResult {
    margin-top: 16px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

#boldFontForResults {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#availStatusResult {
    color: #008915;

}

#availStatusResultUnavail {
    color: red;
}



/* ==========================================================================
                    BOOK DETAILS STYLES
   ========================================================================== */

#bookDetailsPage {
    display: none;
}

#bookDetailsPage.active {
    display: block;
    width: 100%;
}

.bookDetailsCont {
    display: flex;
    flex-direction: column;
}

.bookInfoCont {
    display: flex;
    width: 100%;
    margin-top: 28px;
}

.bookCoverArtImg {
    width: 159px;
    height: 232px;
    flex-shrink: 0;
    margin-left: 20px;
}

.bookCoverArtImg img {
    width: 100%;

}

.bookDetailsSuns {
    margin-left: 15px;
}

.bookTitleText {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bookAuthorText {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bookInfoTextCont {
    width: 210px;
    height: 199px;
    flex-shrink: 0;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8px;
}

#showMoreText {
    color: #1C72D5;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    cursor: pointer;
}

.libraryDetailsCont {
    display: flex;
    margin-top: 24px;
}

.availAndLocCont {
    display: flex;
    flex-direction: column;

}

.availableAt {
    width: 237px;
    height: 23px;
    flex-shrink: 0;
    color: #17620D;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.shelfLocation {
    width: 237px;
    height: 22px;
    flex-shrink: 0;
    color: #1C72D5;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    margin-left: 18px;
    cursor: pointer;
}

.placeOnHoldBtnCont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    flex-shrink: 0;
    fill: rgba(0, 0, 0, 0.00);
    stroke-width: 3px;
    stroke: var(--Gradient-Blue, #007793);
    filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.25));
    color: var(--Gradient-Blue, #007793);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 3px solid;
    border-radius: 10px;
    cursor: pointer;
}

.bookGenresContDetails {
    display: flex;
}

.genreAndTitleContDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.bookGenreDetails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
    align-items: center;
}

.genreAndTitleContDetails h1 {
    width: 138px;
    height: 22px;
    flex-shrink: 0;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 27px;
    font-family: headerFont;
}

.bookImagesForSimilar {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.bookDetailsForDetails {
    width: 77px;
    height: 117px;
    flex-shrink: 0;
    aspect-ratio: 77/117;
    cursor: pointer;
}

.leftRightIconsDetails {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    cursor: pointer;

}